
.container{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: auto;
  text-align: center;
  padding: 20px;
}

h1{
  font-size: 20px;
}

.container_button{
   width: 100px;
   height: 40px;
   border-radius: 5px;
   background-color: blue;
   color: white;
   cursor: pointer;
}

.box_heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.box_content{
  text-align: left;
}

.box_button{
  background:none;
  border: none;
  cursor: pointer;
}

.hide.container,.hide.box{
  visibility:hidden;
}